<div class="container index-container">
  <br><br>

  <div class="row">
    <div class="col-md-5 container-geral container-facebook">
      <div class="row">
        <div class="col-sm-5 container-img"><span class="glyphicon glyphicon-user"></span></div>
        <div class="col-sm-7 container-txt"><p>Acesse com seu facebook</p></div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 container-geral container-calendario">
      <div class="row">
        <div class="col-sm-5 container-img"><span class="glyphicon glyphicon-calendar"></span></div>
        <div class="col-sm-7 container-txt"><p>Cadastre seu evento!</p></div>
      </div>
    </div>
  </div><!-- end div.row -->
  <br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5 container-geral container-anuncio">
      <div class="row">
        <div class="col-sm-5 container-img"><span class="glyphicon glyphicon-thumbs-up"></span></div>
        <div class="col-sm-7 container-txt"><p>Organize seus eventos de maneira prática e rápida, sem sair de casa!</p></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div><!-- end div.row -->
</div><!-- end div.container -->
