<div class="container index-container">
  <h3>Home</h3>

  <br><br>

  <div class="row">
    <div class="col-md-5 container-facebook">
      <div class="row">
        <div class="col-sm-5 container-img"><span class="glyphicon glyphicon-user"></span></div>
        <div class="col-sm-7 container-txt">Acesse com seu facebook</div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 container-calendario">
      <div class="row">
        <div class="col-sm-5 container-img"><span class="glyphicon glyphicon-calendar"></span></div>
        <div class="col-sm-7 container-txt">Cadastre seu evento!</div>
      </div>
    </div>
  </div><!-- end div.row -->
</div><!-- end div.container -->
