/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  text-align: center;
  color: #333333;
}

a {
  color: #333;
}
a:hover {
  background: transparent;
  color: #333;
}

thead {
  background: #029f00;
  color: white;
}

.navbar-inverse {
  background-color: #E55B0A;
  border-color: #E55B0A;

  .navbar-brand {
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
  .navbar-brand:hover {
    background: rgba(225,255,255,0.1);
  }

  .navbar-nav {
    li {
      a {
        font-size: 15px;
        font-weight: bold;
        color: white;
      }
      a:hover {
        background: rgba(225,255,255,0.1);
      }
    }
  }
}

.form-actions {
  a {
    display: inline-block;
    width: 100%;
  }
}
.show-event-div {
  width: 50%;
  margin: auto;
  margin-top: 30px;

  a {
    display: inline-block;
    width: 100%;
  }
}

.botao-azul {
  border-radius: 0px;
  padding: 10px;
  background: #009fff;
  color: white;
}
.botao-azul:hover {
  background: #0140CA;
  text-decoration: blink;
  color: white;
}
.botao-amarelo {
  border-radius: 0px;
  padding: 10px;
  background: #FFBF00;
  color: white;
}
.botao-amarelo:hover {
  background: #FF7400;
  text-decoration: blink;
  color: white;
}
.botao-verde {
  border-radius: 0px;
  padding: 10px;
  background: #029f00;
  color: white;
}
.botao-verde:hover {
  background: #008500;
  text-decoration: blink;
  color: white;
}

.index-container {
  .container-facebook {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    background: rgb(0,159,255);
  }

  .container-calendario {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    background: #029f00;
  }

  .container-img {
    text-align: center;

    .glyphicon {
      font-size: 90px;
      color: white;
    }
  }

  .container-txt {
    font-size: 20px;
    color: white;
  }
}